{% extends "base.html" %} 
{% block head %}
{{ super() }}
<style>
.error {
    color: red;
}

.dashboard {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 5fr 2fr;
	align-items:center;
	justify-items: center;
	/*height: calc(100vh - 50px);*/
}

.db_title {
	grid-column: 1 / -1;
}

.form_container {
	justify-self:end;
}

#error_msgs {
	grid-column: 1 / -1;
}

</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.8.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>

{% endblock %}

{% block content %}
<div class="dashboard">
	<div class="db_title"><h1>Timeseries Builder</h1>
	</div>
	<div class='form_container'>
	  {% include 'ts_form.html' %}
	</div>
	<div id='vis-timeseries'></div>	
	<div id='error_msgs' ></div>

</div>
{% endblock %}


{% block javascript %}
{{ super() }}
<script>


function updateVegaChart(spec, id) {

	(function(vegaEmbed) {
	      
	      var embedOpt = {"mode": "vega-lite"};

	      function showError(el, error){
	          el.innerHTML = ('<div class="error" style="color:red;">'
	                          + '<p>JavaScript Error: ' + error.message + '</p>'
	                          + "<p>This usually means there's a typo in your chart specification. "
	                          + "See the javascript console for the full traceback.</p>"
	                          + '</div>');
	          throw error;
	      }
	      const el = document.getElementById(id);
	      vegaEmbed("#"+id, spec, embedOpt)
	        .catch(error => showError(el, error));
	    })(vegaEmbed);
}

const form = document.getElementById('ts-form');

form.addEventListener('submit', (evt) => {
  	evt.preventDefault();

  	const url = formToUrl("{{url_for('timeseries.ts_builder')}}", form)
  	console.log(url)
	getJsonResponse(url).then( data => {
		if (data.spec) {
			console.log(data.spec)
			spec = JSON.parse(data.spec)
			updateVegaChart(spec, "vis-timeseries")
		} else {
			var err_div = document.getElementById('error_msgs')
			err_div.innerHTML = (
				'<div class="alert alert-warning">'
            	+ '<button type="button" class="close" data-dismiss="alert">&times;</button>'
            	+ data.message
        		+ '</div>'
			)
		}

	})
  
});

function formToUrl(url, form) {
	const formData = new FormData(form);
	formData.delete('csrf_token');
  	const params = new URLSearchParams(formData);

	return url + "?" + params.toString()
}


async function getJsonResponse(url) {

	const response = await fetch(url, {
		method: 'GET',
	})
		.then(resp => {
  		if (resp.status == 200) {
  			return resp.json();
  		} else {
  			throw new Error('got back ' + resp.status);
  		}
  	}).then(data => {
  		return data
  	});
  	return response

}
	

</script>
{% endblock %}
